.comment {
  margin-bottom: 2rem;

  .authorInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 0.75rem;

    .name {
      display: flex;
      gap: 0.5rem;

      .avatar {
        width: 2rem;
        height: 2rem;
        border: 2px solid;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }

      h4 {
        font-size: 1.25rem;
        font-weight: bold;
      }
    }

    time {
      font-weight: 200;
      color: #575757;
      font-size: 0.75rem;
    }
  }

  p {
    font-weight: 300;
    margin-left: 2.45rem
  }

  &.unapproved {
    opacity: 0.5;
  }

  .unapprovedText {
    font-size: 0.75rem;
    font-weight: 800;
    color: #af0303;
    margin-left: 2.45rem;
    text-align: center;
    border: 1px solid #af0303;
    padding: 0.15rem 0.35rem;
    border-radius: 1rem;
  }
}
