.commentSection {
  margin: 3rem auto 0 auto;

  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: calc(100% - 2rem);
    padding: 1rem;
    border-radius: 3px;
    background-color: #e5e5e5;
    margin: 1rem auto;
    max-height: 514px;

    h3 {
      font-size: 1.75rem;
      letter-spacing: -0.05em;
      font-weight: 300;
      margin-bottom: 0.5rem;
    }

    label {
      display: flex;
      flex-direction: column;

      input, textarea {
        border-radius: 2px;
        font-size: 1.25rem;
        padding: 0.5rem;
      }

      input {
        height: 2.5rem;
      }
    }

    button {
      background-color: #000000;
      height: 2.5rem;
      border-radius: 2px;
      color: white;
      font-weight: bold;
      font-size: 1.25rem;
    }
  }

  .commentList {
    padding: 1rem;
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 95%;

    form {
      width: 100%;
      padding: 2rem;
    }
  }
}
