.blogLayout {
  .heroPost {
    padding: 0 1rem;

    .heroImage {
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 2rem;
      line-height: 1.9rem;
      letter-spacing: -0.05em;
      font-weight: 300;
      margin-bottom: 0.5rem;
    }

    .date {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      margin: 0 0.5rem 0.5rem 0;
      padding: 0 0.5rem 0 0.5rem;
      font-weight: 300;
      border-left: 3px solid #a8a8a8;

      span {
        font-weight: 100;
        display: flex;
        align-items: center;
        gap: 0.25rem;
      }
    }

    .excerpt {
      margin: 1rem 0.5rem;
      font-weight: 200;
      letter-spacing: -0.025em;
      font-size: 1em;
      line-height: 1.25rem;
    }

    @media (min-width: 768px) {
      .intro {
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        grid-column-gap: 4rem;
        -moz-column-gap: 4rem;
        column-gap: 4rem;
      }

      h2 {
        font-size: 3rem;
        line-height: 2.9rem;
      }

      .excerpt {
        margin-top: 0.5rem;
        margin-bottom: 2rem;
      }
    }
  }
}
