.meta {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0 0.5rem 0 0.5rem;
  font-weight: 300;
  border-left: 3px solid #a8a8a8;

  span {
    font-weight: 100;
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}
