.divider {
  width: 100%;
  position: relative;
  height: 1px;
  margin: 3rem 0;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10px;
    --bg-size: 300%;
    --color-one: #575757;
    --color-two: black;
    font-weight: 500;
    border-radius: 3px;
    background: linear-gradient(
                    90deg,
                    transparent,
                    var(--color-two),
                    transparent
    ) 0 0 / var(--bg-size) 300%;
    animation: shimmer 11s infinite linear;

    @keyframes shimmer {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }
}
