.morePosts {
  padding: 0 0.5rem;

  .image {
    margin-bottom: 0.5rem;
  }

  h3 {
    font-size: 2rem;
    line-height: 1.9rem;
    letter-spacing: -0.05em;
    font-weight: 300;
    margin-bottom: 0.5rem;
  }

  .excerpt {
    margin: 1rem 0.5rem;
    font-weight: 200;
    letter-spacing: -0.025em;
    font-size: 1em;
    line-height: 1.25rem;
  }

  @media (min-width: 768px) {
    .excerpt {
      margin-top: 1rem;
    }

    h3 {
      font-size: 3rem;
      line-height: 2.9rem;
    }
  }
}
