.nav {
  margin: 1rem 1rem 2rem 1rem;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  flex-direction: column;

  .h1 {
    --bg-size: 300%;
    --color-one: #575757;
    --color-two: black;
    font-weight: 500;
    background: linear-gradient(
                    90deg,
                    var(--color-one),
                    var(--color-two),
                    var(--color-one)
    ) 0 0 / var(--bg-size) 100%;
    animation: shimmer 8s infinite linear;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);
    transition: color .2s ease-in-out;
    padding: 0.5rem;
    line-height: 1.2;
    font-size: 3.5rem;
    letter-spacing: -.05em;
  }

  .navItems {
    display: flex;
    gap: 0.75rem;
    letter-spacing: -0.025em;
    font-size: 1.5rem;
    align-items: center;
    justify-content: flex-end;
    margin-top: -1rem;

    li {
      font-size: 1.25rem;
      line-height: 2.25rem;
      font-weight: 300;
      padding: 0 0.25rem;

      &:hover {
        box-shadow: 0 4px 6px -6px #222;
      }
    }


  }

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    margin: 0 1rem;

    .h1 {
      font-size: 8rem;
    }

    .navItems {
      letter-spacing: -.04em;
      gap: 1.5rem;
      margin-left: 1.5rem;
      margin-top: 1rem;

      li {
        font-size: 1.5rem;

      }
    }
  }

  @keyframes shimmer {
    to {
      background-position: var(--bg-size) 0;
    }
  }

}




