.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 150px;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  grid-template-areas:  "nav nav"
                        "intro intro"
                        "image image";

  nav {
    grid-area: nav;
  }

  article {
    grid-area: intro;
    text-align: right;
    align-self: center;
    justify-self: end;
    font-size: 0.75rem;
    padding: 0 1rem;
    width: 100%;
  }

  .images {
    grid-area: image;
    display: flex;

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  @media (min-width: 768px) {
    grid-template-rows: 150px 1fr 60%;

    article {
      font-size: 1rem;
      width: 75%;
    }
  }
}

