/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@media (min-width: 2500px) {
    body:after {
        content: 'Huge monitor btw! 😏';
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 20rem;
        font-size: 2rem;
        pointer-events: none;
        transform: rotate(90deg);
        text-shadow: 3px 3px 0 white;
    }
}
