.resume {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  font-family: 'Inter', sans-serif;
  color: #333;
  background-color: #fff;
}

.header {
  text-align: center;
  margin-bottom: 40px;

  .headerContent {
    h1 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 5px;
      color: #333;
    }

    h2 {
      font-size: 24px;
      font-weight: 500;
      color: #666;
    }
  }
}

.about, .experience, .skills, .projects {
  margin-bottom: 40px;

  h3 {
    font-size: 28px;
    font-weight: 600;
    color: #333;
    border-bottom: 2px solid #e2e8f0;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
}

.experienceItem {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f7fafc;
  border-radius: 8px;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .date {
    font-weight: 600;
    color: #4a5568;
    margin-right: 10px;
  }

  .title {
    font-weight: 500;
    color: #2d3748;
  }

  .company {
    color: #718096;
    font-style: italic;
    padding-left: 2rem;
  }
}

.skills {
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    li {
      background-color: #edf2f7;
      color: #4a5568;
      padding: 8px 16px;
      border-radius: 20px;
      font-size: 14px;
      font-weight: 500;
      transition: all 0.3s ease;

      &:hover {
        background-color: #e2e8f0;
        transform: translateY(-2px);
      }
    }
  }
}

.clientSection {
  margin-bottom: 40px;
}

.clientHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .clientLogo {
    margin-right: 20px;
  }

  h4 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
  }
}

.projectItem {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f7fafc;
  border-radius: 8px;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  h5 {
    font-size: 20px;
    font-weight: 600;
    color: #2d3748;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    padding-left: 20px;
  }
}

.container {
  padding: 40px;
  background-color: #fff;
  min-height: 100vh;
}

.downloadButton {
  display: block;
  margin: 20px auto 40px;
  padding: 12px 24px;
  background-color: #4299e1;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(66, 153, 225, 0.5);

  &:hover {
    background-color: #3182ce;
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .resume {
    padding: 20px;
  }

  .header {
    .headerContent {
      h1 {
        font-size: 36px;
      }

      h2 {
        font-size: 20px;
      }
    }
  }

  .clientHeader {
    flex-direction: column;
    align-items: flex-start;

    .clientLogo {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  .skills {
    ul {
      justify-content: center;
    }
  }
}

